<?xml version="1.0" encoding="UTF-8"?>
<element>
    <web-app
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
    version="2.5">
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.survey.servlet.loginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.servlet.survey.registerServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>com.survey.servlet.uploadServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/uploadServlet</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.survey.servlet.logoutServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>login.jsp</welcome-file>
        <welcome-file>survey.jsp</welcome-file>
         <welcome-file>message.jsp</welcome-file>
    </welcome-file-list>
</web-app></element>

